build/
bin/
.vscode/
*.cmake

src/CMakeFiles/
src/*.cmake
src/Makefile
src/*.orig
src/CMakeLists.txt

src/gamemanager/*.txt

src/core_engine/CMakeFiles/
src/core_engine/CMakeLists.txt
src/core_engine/Makefile

src/graphics/CMakeFiles/
src/graphics/CMakeLists.txt
src/graphics/*.a
src/graphics/Makefile
src/graphics/*.cmake

src/simulation/CMakeFiles/
src/simulation/*.cmake
src/simulation/CMakeLists.txt
src/simulation/Makefile

