build/
bin/
.vscode/
*.cmake

src/CMakeFiles/
src/*.cmake
src/Makefile


src/core_engine/CMakeFiles/
src/core_engine/Makefile

src/graphics/CMakeFiles/
src/graphics/*.a
src/graphics/Makefile
src/graphics/*.cmake

src/simulation/CMakeFiles/
src/simulation/*.cmake
src/simulation/Makefile

